// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$color1: rgba(37, 22, 5, 1);
$color2: rgba(197, 123, 87, 1);
$color3: rgba(241, 171, 134, 1);
$color4: rgba(247, 219, 167, 1);
$color5: rgba(156, 175, 183, 1);